@model ViewModels.VMComment


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="AddForm" asp-page-handler="AddComment" method="post" asp-page="Detail" name="addComment-modal-form">
                    @Html.HiddenFor(m=>m.Id)
                    @Html.HiddenFor(m=>m.DutyId)

                    <div class="row form-group mb-4">
                        @Html.LabelFor(m=>m.CommentText)
                        @Html.EditorFor(m=>m.CommentText)
                    </div>


                    @Html.DropDownList("Type",
                    Html.GetEnumSelectList<Domain.Enums.CommentType>(),
                    "Select Comment Type")

                    <div class="row form-group mb-4">
                        @Html.LabelFor(m=>m.ReminderDate)
                        @Html.EditorFor(m=>m.ReminderDate)
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="AddForm" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>