@page
@model TaskManagmentWithRazorPages.Pages.Duties.IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Tasks</h4>
<div id="modal-placeholder"></div>

<button class="btn btn-success" type="button" data-toggle="addDuty-modal" data-url=@Url.Page("Index", "AddDutyPartial")><i class="fa fa-filter"><span class="fontbtn px-2">Add Task</span></i></button>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Task Status</th>
            <th scope="col">Task Type</th>
            @*<th scope="col">Assigned Users</th>*@
            <th scope="col">Next Action Date</th>
        </tr>
    </thead>
    @foreach (var task in Model._duties)
    {
        <tr>
            <td scope="col"><a href="@Url.Page("Detail","Get",new {dutyId=@task.Id})">@task.Title</a></td>
            <td scope="col">@task.Description</td>
            <td scope="col">@task.CreatedDate</td>
            <td scope="col">@task.Status</td>
            <td scope="col">@task.Type</td>
            @*<td scope="col">@task.</td>*@
            <td scope="col">@task.NextActionDate</td>
        </tr>
    }
</table>


<script>
    $(function() {
       
        var placeholderElement = $('#modal-placeholder');
        $(document).on('click', 'button[data-toggle="addDuty-modal"]', function(event) {
            var url = $(this).data('url');
            $.get(url).done(function(data) {
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');
            });
        });
        placeholderElement.on('click', '[data-save="modal"]', function(event) {
            event.preventDefault();
            var form = $(this).parents('.modal').find('form');
            var actionUrl = form.attr('action');
            var dataToSend = form.serialize();
            $.post(actionUrl, dataToSend).done(function(data) {
                placeholderElement.find('.modal').modal('hide');
                location.reload()
            });
        });
    });
</script>